<header>
  <div class="banner-container">
    <h2>BIENVENIDO A LA PRUEBA DE PELÍCULAS</h2>
    <img class="banner-image" src="../../../assets/Banner.jpg" alt="Banner">
  </div>
    
  

<div class="Template" *ngFor="let movie of movies">
  <a [routerLink]="['/movies', movie.id]">
    <div class="card">
      <img class="card-image" [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" alt="Movie Poster">
      <div class="card-description">
        <h3>{{ movie.title }}</h3>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>{{ movie.overview }}</p>
      </div>
    </div>
  </a>
</div> <br>
<button (click)="loadMoreMovies()">Load More</button>
</header>